[submodule "client/themes/bungalow"]
	path = client/themes/bungalow
	url = git@github.com:Buddhalow/bungalow-theme
[submodule "client/js/plugins/spotify"]
	path = client/js/plugins/spotify
	url = git@github.com:Buddhalow/bungalow-spotify-plugin
[submodule "services/bungalow-spotify-service"]
	path = services/bungalow-spotify-service
	url = git@github.com:Buddhalow/bungalow-spotify-service
[submodule "services/spotify"]
	path = services/spotify
	url = git@bitbucket.org:drsounds/bungalow-spotify-service
[submodule "client/themes/obama-2009"]
	path = client/themes/obama-2009
	url = git@bitbucket.org:drsounds/bungalow-spotify09-theme.git
[submodule "client/themes/obama-2010"]
	path = client/themes/obama-2010
	url = git@bitbucket.org:drsounds/bungalow-spotify10-theme
[submodule "client/js/plugins/bungalow-roamnia-plugin"]
	path = client/js/plugins/bungalow-roamnia-plugin
	url = git@bitbucket.org:drsounds/bungalow-roamnia-plugin
[submodule "client/js/plugins/parse"]
	path = client/js/plugins/parse
	url = git@github.com:Buddhalow/bungalow-plugin-parse
[submodule "client/themes/wmp-10"]
	path = client/themes/wmp-10
	url = git@bitbucket.org:drsounds/bungalow-wmp10-theme.git
[submodule "client/themes/wmp-9"]
	path = client/themes/wmp-9
	url = git@bitbucket.org:drsounds/bungalow-wmp9-theme.git
[submodule "client/themes/obama-2012"]
	path = client/themes/obama-2012
	url = git@bitbucket.org:drsounds/bungalow-spotify12-theme.git
[submodule "services/lastfm"]
	path = services/lastfm
	url = git@github.com:Buddhalow/bungalow-lastfm-service
[submodule "client/js/plugins/lastfm"]
	path = client/js/plugins/lastfm
	url = git@github.com:Buddhalow/bungalow-lastfm-plugin
[submodule "client/themes/obama-2013"]
        path = client/themes/obama-2013
        url = git@bitbucket.org:drsounds/bungalow-spotify13-theme.git
