:root {
    --background-color: var(--secondary-color);
    --foreground-color: var(--primary-color);
}
sp-sidebar {
    background: #333;
    color: white;
}
sp-sidebar a {
    color: white;
    
}
.container {
    width: 100% !important;
}